Title: Design and Development
Link Text: Design and Development
categories: whatwedo:5

%h1 Design and Development

%p
  :markdown

    Whether you're facing transportation's "big data" challenges or
    you simply need a visualization tool for data you've already
    organized, Activimetrics has the talent and experience to rapidly
    design, develop, and deploy standalone solutions or components for
    integration with larger systems.

<!-- ~~fold~~ -->

%h2 Managing "Big Data"

...

%h2 Experienced Visualization Engineers

...

%h2 Systems Engineering Principles

...
