Title: Products
Link Text: Products
categories: whatwedo:10

%h1 Products

%p
  We are currently developing an innovative transportation
  information backbone to solve many of the challenges plaguing the
  development of next-generation transportation management systems
  that will rely on pervasive, but unreliable, communications and
  mobile computers.  Contact

  - email_link("crindt@activimetrics.com")

  if you're interested in discussing our plans.
