Title: Research
Link Text: Research
categories: whatwedo:0

%h1 Research

%p
  :markdown

    With over 25 years of combined experience conducting research and
    research evaluation, and research deployment, [Activimetrics
    principals](#who) can offer new insights to challenges in the
    transportation domain and beyond.

<!-- ~~fold~~ -->



