Title: Craig Rindt
Categories: people:999
Link Text: Craig Rindt
Image: crindt-coffee-300x500.jpg

%h1 Craig Rindt
%p
  Craig Rindt is a founding member of Activimetrics.
  He has Ph.D. in Transportation Engineering for his
  work in travel behavior modeling and transportation
  systems management using intelligent transportation
  systems technology.  His recent research has
  emphasized the use of advanced communications and
  ubiquitous computing technology for improving
  transportation system performance.
%p
  You can reach Craig at 

  - email_link("crindt@activimetrics.com")

<!-- ~~fold~~ -->

%p
