Title: James Marca
Categories: people:1000
Link Text: James Marca

%h1 James Marca
%p
  James Marca is a founding member of Activimetrics.  He has over 15
  years of experience in applying research to solve transportation
  challenges.  His interests include studying the applications of
  information and communications technologies to transportation;
  discovering new applications for existing data streams; collecting
  real-time vehicle telematics using wireless communications
  systems; and how communications technology can lead to travel
  patterns and urban forms that are more sustainable.
%p
  You can reach James at 

  - email_link("james@activimetrics.com")


<!-- ~~fold~~ -->