Title: Activimetrics
Link Text: Home
Layout: layouthome

.span2{:style=>"position:fixed;margin-top:1em;"}
  .div
    .subnav#mainnav
      %ul.nav.nav-pills.nav-stacked{:style=>"text-align:right;margin-bottom:0px;padding-right:1em;"}
        %li
          %a{:href=>"#top"} Home
        %li 
          %a{:href=>"#who"} Who we are
        %li 
          %a{:href=>"#what"} What we do
        %li
          %a{:href=>"#contact"} Contact us
%section#top(style="margin-top:0px;")
  .row{:style=>"border-top:0px"}
    .span10.offset2{:style=>"border-left: 1px solid #000;padding-left:1em;min-height:1200px;"}
      %header
        %h1 Activimetrics, LLC

      %section#who
        %header.page-header
          %h1 Who we are
        %ul.thumbnails
          %li.span5
            .thumbnail 
              %h2 James Marca
              %div
                :markdown 

                  James Marca is a founding member of Activimetrics.  He has
                  over 15 years of experience in applying research to solve
                  transportation challenges.  His interests include studying the
                  applications of information and communications technologies to
                  transportation; discovering new applications for existing data
                  streams; collecting real-time vehicle telematics using
                  wireless communications systems; and how communications
                  technology can lead to travel patterns and urban forms that
                  are more sustainable.
                  
                %a.btn.btn-primary(href="jmarca.haml") More about James

          %li.span5
            .thumbnail 
              %h2 Craig Rindt
              %div
                %img(style="width:200px;float:right" src='/attachments/img/crindt-coffee-300x500.jpg')
                :markdown

                  Craig Rindt is a founding member of Activimetrics.  He was
                  awarded a Ph.D. in Civil and Environmental Engineering for his
                  work in travel behavior modeling and transportation systems
                  management using intelligent transportation systems
                  technology.  His recent research has emphasized the use of
                  advanced communications and ubiquitous computing technology
                  for improving transportation system performance.  His efforts
                  focus on both traveler-oriented and management-oriented
                  solutions to balancing transportation system demand and
                  capacity.
                  
                %a.btn.btn-primary(href="crindt.haml") More about Craig


      %section#what
        %header.page-header
          %h1 What we do
        
        %section
          %header#build
            %h2 We build things

          :markdown

            We know the transportation domain...
        
          %ul.thumbnails
            %li.span3
              %a(href="#")
                .thumbnail
                  %h4 Like this
            %li.span3
              %a(href="#")
                .thumbnail
                  %h4 and this
            %li.span3
              %a(href="#")
                .thumbnail
                  %h4 and this
            %li.span3
              %a(href="#")
                .thumbnail
                  %h4 and, yes, this too
                

        %section#design
          %header
            %h2 We design things

          :markdown

            We know the transportation domain...

          %ul.thumbnails
            %li.span3
              %a(href="#")
                .thumbnail
                  %h4 Like this
            %li.span3
              %a(href="#")
                .thumbnail
                  %h4 and this
            %li.span3
              %a(href="#")
                .thumbnail
                  %h4 and this
            %li.span3
              %a(href="#")
                .thumbnail
                  %h4 and, yes, this too


        %section#solve                
          %header
            %h2 We solve things

          :markdown

            We know the transportation domain...

          %ul.thumbnails
            %li.span3
              %a(href="#")
                .thumbnail
                  %h4 Like this
            %li.span3
              %a(href="#")
                .thumbnail
                  %h4 and this
            %li.span3
              %a(href="#")
                .thumbnail
                  %h4 and this
            %li.span3
              %a(href="#")
                .thumbnail
                  %h4 and, yes, this too

      %section#contact
        %header.page-header
          %h1 Contacting Activimetrics
        If you would like to get in touch with us...
        = process_org_vcard("content/attachments/vcf/default.vcf")

/%section.articles= article_summaries(latest_articles)
:javascript
  $('#mainnav').scrollspy();