Title: Activimetrics
Link Text: Home
Layout: layouthome

.span2{:style=>"position:fixed;margin-top:1em;"}
  .div
    .subnav#mainnav
      %ul.nav.nav-pills.nav-stacked{:style=>"text-align:right;margin-bottom:0px;padding-right:1em;"}
        %li
          %a{:href=>"#top"} Home
        %li 
          %a{:href=>"#who"} Who we are
        %li 
          %a{:href=>"#what"} What we do
        %li
          %a{:href=>"#contact"} Contact us
        %li
          %a{:href=>"#legal"} Legal
%section#top(style="margin-top:0px;")
  .row{:style=>"border-top:0px"}
    .span10.offset2{:style=>"border-left: 1px solid #000;padding-left:1em;min-height:1200px;"}
      %section.main#banner
        %header
          .span6.offset2
            %img{:src=>"attachments/logo.png",:style=>"width:100%;height:149px",:alt=>"Activimetrics"}
          .span4.offset4
            %h3{:style=>"text-align:right"} life is data

      %section.main#who
        %header.page-header
          %h1 Who we are
        = haml :thumbnail_summaries, :layout => false, :locals => { :pages => Nesta::Page.find_by_path("/people").pages, :span => "span5", :nolink => true }

      %section.main#what
        %header.page-header
          %h1 What we do

        = haml :thumbnail_summaries, :layout => false, :locals => { :pages => Nesta::Page.find_by_path("/whatwedo").pages, :span => 'span10', :nolink => true }

      %section.main#contact
        %header.page-header
          %h1 Contacting Activimetrics
        If you would like to get in touch with us...

        %p
          %blockquote
            = process_org_vcard("content/attachments/vcf/default.vcf")

      %section.main#legal
        %header.page-header
          %h1 Legal
        All content &copy;
        :javascript
          var dYear=(new Date()).getFullYear()
          document.write("2012"+((dYear>2012)?("-"+dYear):""));
        Activimetrics, LLC
        

/%section.articles= article_summaries(latest_articles)
:javascript
  $('#mainnav').scrollspy();